
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>AdminRoom</title>
</head>



    <body>
        <div id="test"></div>
   <div class="header">
        <ul class="nav nav-tabs">
            <li class="active">
                @Ajax.ActionLink("Users", "AdminUsers", "Admin", new AjaxOptions { OnSuccess = "UserCathegory", LoadingElementId = "loading", UpdateTargetId = "centerr" })           
            </li>
            <li class="active">
                @Ajax.ActionLink("Lots", "AdminLots", "Admin", new AjaxOptions { OnSuccess = "LotCathegory", LoadingElementId = "loading", UpdateTargetId = "centerr" })
            </li>

        </ul>
  </div>

        <br />
        <div class="container-fluid" style="white-space: nowrap">
            <div class="row-fluid">

                <div class="col-md-3">
                    <div class="well sidebar-nav col-xs-1" style="width:200px; margin-bottom:auto">
                        <ul class="nav nav-list" style="color:#0115b5">
                            <li class=" nav-header" style="font-weight:bold; color:black">Категории</li>

                            <bar id="cathegorymenu">
                               
                                @if (ViewBag.number == 2)
                                { @Html.Action("BarLots")}
                                else
                                { @Html.Action("BarUsers")}
                            </bar>
                        </ul> 
                    </div>
                </div>

                <div style="margin-left:220px">

                    <div id="centerr" class="col-xs-1" style="width:200px">

                        <div id="change" style="width:220px"></div>
                        <div id="changefail" style="width:220px"></div>
                        <div id="loading" style="display:none;color:red;font-size:x-large">Идет загрузка...</div>

                       @if (ViewBag.number == 2) { @Html.Action("AdminLots")}
                        else {@Html.Action("AdminUsers")}


                            <div class="hero-unit">


                            </div>
                        </div>
                </div>

            </div>
        </div>
        <br />

    </body>
</html>
