@model IEnumerable<WEB.Models.LotModel>

@{
    ViewBag.Title = "AdminUsers";
    Layout = null;
}
<style>
    table {
        margin: 0px 0;
        text-align: left;
        border-collapse: separate;
        border: 1px solid #ddd;
        border-spacing: 10px;
        border-radius: 3px;
        background: #fdfdfd;
        font-size: 14px;
        width: auto;
    }

    td, th {
        border: 1px solid #ddd;
        padding: 5px;
        border-radius: 3px;
    }

    th {
        background: #E4E4E4;
    }

    caption {
        font-style: italic;
        text-align: right;
        color: #547901;
        border-radius: 3px;
        border-color: #19009a;
    }


    .box div {
        overflow: hidden;
        width: 130px;
        white-space: nowrap;
        display: inline-block;
    }
</style>

<script>

    function ModalOnSuccess() {
        $('#modDialog').show();
    }

</script>



@using (Ajax.BeginForm("FindLot", null, new AjaxOptions { OnFailure = "OnFailureSearch", OnSuccess = "OnSuccess", LoadingElementId = "loadtablesearch", UpdateTargetId = "tableusers" }, new { id = "searchform" }))
{ }
<div id="change" style="width:220px"></div>
<div id="changefail" style="width:220px"></div>
<div id="loading" style="display:none;color:red;font-size:x-large">Идет загрузка...</div>

<div id="modDialog" class="modal">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<table id="tableusers" class="table table-hover table-striped">

        <caption>Lots</caption>
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>StartPrice</th>
    <th>EndPrice</th>
    <th>DateBegin</th>
    <th>TimeBegin</th>
    <th>BuyerName</th>
    <th>Statys</th>
    <th>Cathegory</th>
        <th colspan="3">
            <div class="box">

                <div><input type="text" name="Find" class="form-control" placeholder="Search" form="searchform" style="width:130px;"></div>
                <div><input type="submit" form="searchform" value="Submit" class="btn btn-default"></input></div>
                <div id="loadtablesearch" class="glyphicon glyphicon-search" style="display:none;color:red;">...</div>
            </div>
        </th>

    </tr>
 @if(Model!=null)
 { 
    foreach (var lot in Model)
    {      
        <tr>
            <td>@Html.DisplayFor(mod => lot.Name)</td>
            <td>@Html.DisplayFor(mod => lot.Description)</td>
            <td>@Html.DisplayFor(mod => lot.StartPrice)</td>
            <td>@Html.DisplayFor(mod => lot.EndPrice)</td>
            <td>@Html.DisplayFor(mod => lot.DateBegin)</td>
            <td>@Html.DisplayFor(mod => lot.TimeBegin)</td>
            <td>@Html.DisplayFor(mod => lot.BuyerName)</td>
            <td>@Html.DisplayFor(mod => lot.Statys)</td>
            <td>@Html.DisplayFor(mod => lot.Cathegory)</td>

            <td>@Html.ActionLink("Delete", "DeleteLot", "Admin",new{ Id = lot.Id },new{ @class = "btn",@role = "button"})</td>
            <td>@Ajax.ActionLink("Owner", "_GetLotOwner", "Admin", new { Id = @lot.Id }, new AjaxOptions { OnFailure = "OnFailure", LoadingElementId = "loading", OnSuccess = "ModalOnSuccess", UpdateTargetId = "dialogContent" }, new { @class = "btn", @role = "button" })</td>
        </tr>
    }
 }
   
</table>






