@model PagedList.IPagedList<WEB.Models.LotModel>
@using PagedList.Mvc;
<!Doctype html>
<html>
@{
    ViewBag.Title = "Index";
}
<body>
    <br />
    <div class="container-fluid" style="white-space: nowrap">
        <div class="row-fluid">
            <div class="col-md-3">
                <div class="well sidebar-nav col-xs-1" style="width:200px; margin-bottom:auto">
                    <ul class="nav nav-list">
                        <li class=" nav-header" style="font-weight:bold; color:black">Категории</li>
                        @Html.Action("GetAllCathegories", "Home")
                    </ul>
                </div>
            </div>
            <div style="margin-left:220px">
               <h2>@ViewBag.Empty</h2>

                    @foreach (var mode in Model)
                    {
                        <div class="col-xs-1" style="width:200px;">

                                    <div class="thumbnail">
                                        <p>
                                            @if (mode.Image != null)
                                            {                    
                                                <img src="data:image/@mode.Image.MimeType;base64,@Convert.ToBase64String(mode.Image.Image)" class="img-thumbnail" />
                                            }
                                            else
                                            {
                                                <a href="#"><span class=" glyphicon glyphicon-picture img-thumbnail"></span>NotFound</a>
                                            }
                                                <h3>@Html.ActionLink(mode.Name, "Chat", "Auction", new { mode.Name },null)</h3>
                                           
                                        </p>
                                        <p>
                                            @Html.DisplayNameFor(mod => mode.StartPrice)
                                            @Html.DisplayFor(mod => mode.StartPrice)
                                        </p>
                                        <p>
                                            @Html.DisplayNameFor(mod => mode.DateBegin)
                                            @Html.DisplayFor(mod => mode.DateBegin)
                                        </p>
                                        <p>
                                            @Html.DisplayNameFor(mod => mode.TimeBegin)
                                            @Html.DisplayFor(mod => mode.TimeBegin)
                                        </p>
                                    </div>
                        </div>
                    }
            </div>
      
        </div>

    </div>
    <div class="hero-unit" style="margin-left:250px">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, name = ViewBag.Name }))
    </div>
    <br />
</body>
</html>