<!Doctype html>
<html style="overflow:auto;overflow-x:auto; position:relative; min-height:100%;min-width:450px">
<head>
    <meta charset=utf-8>
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <link rel="stylesheet" href="style.css" />

    <!--[if IE]>
     <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <!--[endif]-->
</head>
<body scroll="yes">
    <nav class="navbar navbar-fixed-top navbar-inverse" style="position:absolute;"><!--  min-width: 1200px; margin: 0 auto;" -->
       <!--<img src="~/fonts/pixel.gif" style="position:fixed; width:800px; height:1px; margin-left:1px;margin-right:1px"></img>--> 
     <div class="container-fluid">
            <!--самая высота-->
            <div class="navbar-header">
                <!--середина-->
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/fonts/Auction.jpg" width="71" height="50" alt="Auction">

            </div>


            <!-- Collection of nav links, forms, and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse" width="150">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Auction", "Index", "Home")</li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="glyphicon glyphicon-user"></span>@Html.Action("Nikneim", "Account", new { @class = "login" })
                            <b class="caret"></b>                           
                        </a>   
                        
                        <ul role="menu" class="dropdown-menu">
                            @if (HttpContext.Current.GetOwinContext().Authentication.User.IsInRole("Admin"))
                            {
                                <li><a href="/Admin/AdminRoom"><span class="glyphicon glyphicon-flash"></span>Administrator Room</a></li>
                            }
                            else
                            { 
                            <li><a href="/Home/RedirectToCabinet"><span class="glyphicon glyphicon-shopping-cart"></span> Lots</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-ok"></span> Winnings</a></li>
                            }
                            <li><a href="/Cabinet/Settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <form action="/Home/FindLot" class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" name="Find" class="form-control" placeholder="Search Lots">
                            </div>
                            <input type="submit" value="Submit" class="btn btn-default"></input>
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Account/Register"><span class="glyphicon glyphicon-registration-mark"></span> Register</a></li>
                    <li><a href="/Account/Logoff"><span class="glyphicon glyphicon-log-out"></span> Sign Out </a></li>
                </ul>
            </div>
        </div>
    </nav>
  <!--<section id="content">
        <article>Статья</article>
        <aside>Боковая колонка (сайдбар)</aside>
    </section>-->  
    <div style="margin-left:15px">
        @RenderBody()
    </div>
        <hr />
        <footer class="navbar navbar-fixed-bottom navbar-inverse" style="position: absolute;"><!--bottom: 0; min-width: 1200px; margin: 0 auto;"-->
            <div id="navbarCollapse" class="collapse navbar-collapse" width="150">
                <ul class="nav navbar-nav">

                    <li>
                        <ol style="color: #6b6b6b; text-align:center">Auction</ol>
                        <ol><img src="~/fonts/Auction.jpg" width="71" height="50" alt="Auction"></ol>
                    </li>
                    <li>
                        <ol style="color: #6b6b6b;">Важная информация</ol>

                        <ol>
                            <!--Не доделано!!!-->
                            @Html.ActionLink("Пользовательское соглашение", "SomeMethod", "SomeController")
                        </ol>

                        <ol>
                            <!--Не доделано!!!-->
                            @Html.ActionLink("Условия купли-продажи", "SomeMethod", "SomeController")
                        </ol>

                        <ol>
                            <!--Не доделано!!!-->
                            @Html.ActionLink("О нас", "SomeMethod", "SomeController")
                        </ol>

                    </li>
                    <li>
                        <ol style="color: #6b6b6b;">Полезные сылки</ol>

                        <ol>
                            <!--Не доделано!!!-->
                            @Html.ActionLink("Как это работает", "SomeMethod", "SomeController")
                        </ol>

                        <ol>
                            <!--Не доделано!!!-->
                            @Html.ActionLink("Вопросы ответы", "SomeMethod", "SomeController")
                        </ol>

                        <ol>
                            <!--Не доделано!!!-->
                            @Html.ActionLink("Доставка", "SomeMethod", "SomeController")
                        </ol>
                    </li>

                </ul>
            </div>
            <div class="container-fluid" style="color: #6b6b6b; text-align:right; text-decoration:solid">
                ASP.NET(Plotnikov)  &copy; @DateTime.Now.Year
            </div>

        </footer>
    

    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/util")
    @Scripts.Render("~/bundles/Success")
    @Scripts.Render("~/bundles/Modal")
    
</body>
</html>
